.gutter-sizer {
	width: 2%;
}

#page {
	width: 75%;
	float: left;
	margin-right: 2%;
}

#sidebar {
	/* Fix positioning eventually */
	width: 20%;
	float: left;
	text-align: center;
}

#jawns .item {
	width: 30%;
	padding: 1%;
	margin-bottom: 2%;
}

.item audio {
	width: 100%;
}

#jawns .idea {
	background-color: #ddd;
}

#jawns .spark.P {
	background-color: #fcc;
}
#jawns .spark.P {
	background-color: #fcc;
}
#jawns .spark.I {
	background-color: #ccf;
}
#jawns .spark.W {
	background-color: #cfc;
}

div .spark-detail {
	padding: 10px;
}