.gutter-sizer {
	width: 2%;
}

#sidebar {
	text-align: center;
	background-color: white;
}

#jawns .item {
	width: 22%;
	padding: 1%;
	margin-bottom: 2%;
	border-radius: 6px;
}

.item audio {
	width: 100%;
}

#jawns .idea {
	background-color: #ddd;
}

#jawns .spark.P {
	background-color: #fcc;
}
#jawns .spark.P {
	background-color: #fcc;
}
#jawns .spark.I {
	background-color: #ccf;
}
#jawns .spark.W {
	background-color: #cfc;
}

div .spark-detail {
	padding: 10px;
}